* {
    background-color: #faf8f4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.array-container {
    margin: auto;

}

.array-bar {
    width: 6px;
    background-color: #222;
    display: inline-block;
    margin: 0 1px;
    border-radius: 5px;
}

.visualizer-function {
    border-radius: 10px;
    margin: 10px 6px;
    font-size: 18px;
}